## D01 WORKSHOP

**문제 0**
- 1월부터 12월까지 다음과 같은 형태로 달력이 출력되도록 코드를 작성하세요.
```bash
1 월
일 월 화 수 목 금 토
1 2 3 4 5 6 7
8 9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31
2 월
일 월 화 수 목 금 토
1 2 3 4 5 6 7
8 9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
```

In [14]:
# 정답

days_odd = list(range(1,32))
days_even = list(range(1,31))
days_Feb = list(range(1,29))

for month in range(1,8):
    if month % 2:
        print(f'{month}월 \n일월화수목금토 \n {days_odd}')
    
    elif month ==2:
        print(f'{month}월 \n일월화수목금토 \n {days_Feb}')
            
    else:
        print(f'{month}월 \n일월화수목금토 \n {days_even}')
        
for month_2 in range(8,13):
    if month_2 % 2:
        print(f'{month_2}월 \n일월화수목금토 \n {days_even}')
    else:
        print(f'{month_2}월 \n일월화수목금토 \n {days_odd}')

1월
일월화수목금토
 [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31]
2월
일월화수목금토
 [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28]
3월
일월화수목금토
 [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31]
4월
일월화수목금토
 [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30]
5월
일월화수목금토
 [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31]
6월
일월화수목금토
 [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30]
7월
일월화수목금토
 [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31]
8월
일월화수목금토
 [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31]
9월
일월화수목금토
 [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30]
10월
일월화수목금토
 [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31]
11월
일월화수목금토
 [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30]
12월
일월화수목금토
 [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31]

**문제 1**
- 두 개의 정수 n과 m이 주어집니다. 반복문을 사용하지 않고 별(*) 문자를 이용해 가로의 길이가 n, 세로의 길이가 m인 직사각형 형태를 출력해보세요.

In [11]:
# 문제
n = 5
m = 9

In [23]:
# 정답
print(("*" * n + "\n") * m)

*****
*****
*****
*****
*****
*****
*****
*****
*****

**문제2**
- 다음 딕셔너리에서 평균 점수를 출력하시오.

In [25]:
# 문제
student = {'python': 80, 'algorithm': 99, 'django': 89, 'flask': 83}

In [26]:
# 정답
total = 0
for val  in student.values():
    total += val
    average = total/4
print(average)

#쌤 정답
#sum을  ssequence처럼 사용할 수 있음
#student 갯수
average = sum(student.values()) / len(student)
print(average)

87.75
87.75

**문제3**
- 다음은 학생들의 혈액형(A, B, AB, O)에 대한 데이터이다. for문을 이용하여 각 혈액형 별 학생수의 합계를 구하시오.

In [1]:
# 문제
blood_types = ['A', 'B', 'A', 'O', 'AB', 'AB', 'O', 'A', 'B', 'O', 'B', 'AB']

In [3]:
# 정답
type_A, type_B, type_O, type_AB = 0,0,0,0

for blool_t in blood_types:
    if blool_t == "A":
        type_A += 1
    elif blool_t == "B":
        type_B += 1
    elif blool_t == "O":
        type_O+= 1
    else:
        type_AB += 1


print(f'A ={type_A}, B ={type_B}, O ={type_O}, AB ={type_AB}')

A =3, B =3, O =3, AB =3

In [ ]:
#4

result = {}
for blood_type in blood_types:
    if blood_type in result:
        result[blood_type] += 1
    else:
        # 없으면 숫자를 유지해야
        result[blood_type] = 1
print(result)
        #  key 값으로  value를 카운트하는거

In [20]:
calender = {
            1:31, 2:28, 3:31, 4:30, 5:31, 6:30, 
            7:31, 8:31, 9:30, 10:31, 11:30, 12:31
}

weeks = ['일', '월', '화', '수', '목', '금', '토']

# 두개 불러오려면 .items
for month, count_day in calender.items():
    count = 0
    print(month, '월')
    for day in weeks:
        print(day, end=" ")
    print()
    
    #여기까지가 월/ 일월화수목금토 까지 
    for i in range(1, count_day + 1):
        print(i, end='')
        #띄어쓰기 이쁘게 하려고 end를 쓴 거임
        count += 1 
        if count == 7:
            print()
            # 7이 되서 개행되면 그냥 프린트해라
            count = 0
    print(end='\n\n')

1 월
일 월 화 수 목 금 토
1234567
891011121314
15161718192021
22232425262728
293031

2 월
일 월 화 수 목 금 토
1234567
891011121314
15161718192021
22232425262728


3 월
일 월 화 수 목 금 토
1234567
891011121314
15161718192021
22232425262728
293031

4 월
일 월 화 수 목 금 토
1234567
891011121314
15161718192021
22232425262728
2930

5 월
일 월 화 수 목 금 토
1234567
891011121314
15161718192021
22232425262728
293031

6 월
일 월 화 수 목 금 토
1234567
891011121314
15161718192021
22232425262728
2930

7 월
일 월 화 수 목 금 토
1234567
891011121314
15161718192021
22232425262728
293031

8 월
일 월 화 수 목 금 토
1234567
891011121314
15161718192021
22232425262728
293031

9 월
일 월 화 수 목 금 토
1234567
891011121314
15161718192021
22232425262728
2930

10 월
일 월 화 수 목 금 토
1234567
891011121314
15161718192021
22232425262728
293031

11 월
일 월 화 수 목 금 토
1234567
891011121314
15161718192021
22232425262728
2930

12 월
일 월 화 수 목 금 토
1234567
891011121314
15161718192021
22232425262728
293031

In [27]:
#4

result = {}
for blood_type in blood_types:
    if blood_type in result:
        result[blood_type] += 1
    else:
        # 없으면 숫자를 유지해야지
        result[blood_type] = 1
print(result)

{'A': 3, 'B': 3, 'O': 3, 'AB': 3}