**문제 3.**

> 1937년 Collatz란 사람에 의해 제기된 이 추측은, 주어진 수가 1이 될때까지 다음 작업을 반복하면, 모든 수를 1로 만들 수 있다는 추측입니다. 작업은 다음과 같습니다.
>
> 1. 입력된 수가 짝수라면 2로 나눕니다. 
> 2. 입력된 수가 홀수라면 3을 곱하고 1을 더합니다.
> 3. 결과로 나온 수에 같은 작업을 1이 될 때까지 반복합니다.
>
> 예를 들어, 입력된 수가 6이라면 6→3→10→5→16→8→4→2→1 이 되어 총 8번 만에 1이 됩니다.
>
> 위 작업을 몇 번이나 반복해야하는지 반환하는 함수, collatz를 완성해 주세요.
>
> 단, 작업을 500번을 반복해도 1이 되지 않는다면 –1을 반환해 주세요.

예시)

```python
collatz(6) #=> 8
collatz(16) #=> 4
collatz(626331) #=> -1
```

In [6]:
# 여기에 코드를 작성하세요.
def collatz(number):
    for i in range(500): 
        # 이러면 이 안에 있는 애들은 되는 애들이 되니까
        # true _ 조건 _ false 형식
        number = number/2 if number % 2 == 0 else number*3 + 1
        if number == 1:
            return i+1
        # 0 번 부터 시작하니까 +1 하면 숫자가 나오지?, 그리고 리턴 끝나면 다시  for 문으로 돌아감
    return -1
#함수는 리턴반환이 하나라서, 500 안에서 돌 때 리턴이 나오면  끝이고, 500이 되어서 넘어가면 밖에 나가서  리턴 나옴

In [7]:
print(collatz(6))
print(collatz(16))
print(collatz(626331))

8
4
-1

**문제 4.**

> 리스트가 주어집니다. 리스트의 각 요소는 숫자 0부터 9까지로 이루어져 있습니다. 
>
> 이때, 리스트에서 연속적으로 나타나는 숫자는 하나만 남기고 전부 제거하려고 합니다. 
>
> 리스트에서 연속적으로 나타나는 숫자는 제거하고 남은 수들을 반환하는 lonely 함수를 작성해 주세요.
>
> 단, 제거된 후 남은 수들을 반환할 때는 리스트의 요소들의 순서를 유지해야 합니다.  

예시)

```python
lonely([1, 1, 3, 3, 0, 1, 1]) #=> [1, 3, 0, 1]
lonely([4,4,4,3,3]) #=> [4,3]
```

In [9]:
# # 여기에 코드를 작성하세요.
#  def lonely(num_list):
#         ex_num = num_list[0]
#         gongal = [ex_num]
#         for num in num_list:
#             if  num != ex_num:

#             gongal .append(num)
#             ex_num = num

# 여기에 코드를 작성하세요.
def lonely(liszt):
    ex_num = liszt[0]
    gongal = [ex_num]
    for num in liszt:
        if num != ex_num:
            gongal.append(num)
            ex_num = num
    return gongal

In [10]:
print(lonely([1, 1, 3, 3, 0, 1, 1]))
print(lonely([4,4,4,3,3]))

[1, 3, 0, 1]
[4, 3]

In [ ]:
## 문제 5.
영어 이름 가운데 이름을 가지는 경우가 있는데
가운데 이름을 대문자 한글자로 축약해서 나타내는 함수 'shorten' 함수를 작성해보세요.

shorten('Alice betty catherine David') #=> 'Alice B.C.David'

In [33]:
# # 여기에 코드를 작성하세요.
# def shorten(names):
#     names = names.split()
#     for name in range(1,(len(names)-1)):
#         name = name.upper()
#         name = name.select(name[0])
#         names.join()
#     for name in names:
#         if name != name[0] and name[-1]:
#             name = select
#     return(names)

In [37]:
# def shorten(name):
#         names = name.split()
#         print(names)
        
# shorten('Alice betty catherine David')#

['Alice', 'betty', 'catherine', 'David']

In [42]:
def shorten(name):
        names = name.split()
        for i in range(1, len(names)-1):
#             print(names[i])
                names[i] = names[i][0].upper() + '.'
        return '  ' .join(names)
            # '' 사이에 공백을 넣으면 띄어져서 합쳐져서 출력
            
shorten('Alice betty catherine David')

'Alice  B.  C.  David'