# D06_problem_02

## 문제
>모든 인수의 합계를 반환하는 함수를 만드세요. 입력 값은 함수에 대한 매개 변수로 인덱스와
함께 점차 증가합니다.

In [ ]:
# 예시 1
add(3, 4, 5) # returns (3*1)+(4*2)+(5*3)=26

# 예시 2
add() #=> 0
add(1,2,3) #=> 14
add(1,4,-5,5) #=> 14


# 유의
인수가 없으면 0을 반환합니다.

In [7]:
#여기에 코드를 작성하세요
def add(*args):
    add = 0
#     for i in args:
#         for x in range(1, len((args+1))):
#             add = (i * x)
    for idx, i in enumerate(args):
        add = (idx+1)*i
    return add


        
        
    


print(add(3, 4, 5, 6, 7))
print(add(2, 5, 5, 7, 7))

35
35

## 문제

>같은 숫자가 한개 있거나 두개가 들어있는 리스트가 주어집니다. 이러한 리스트에서 숫자가 한개만있는 요소들의 합을 구하는 함수를 작성하세요.

> 예를 들어, repeats([4, 5, 7, 5, 4, 8]) = 15 는 7과 8이 한번만 나오기 때문에 두개를 더한 15가 결과값으로 도출됩니다.

In [29]:
# 여기에 코드를 작성하세요
def repeats(lines):
    non = []
    for i in range(len(lines)+1):
        if lines[i]!= lines[i+1]:
            non += lines[i]
        else:
            pass
    return non

In [45]:
# 내 답
def repeats(lines):
    non = []
    for value in lines:
        if lines.count(value) < 2:
            if value not in non:
                non.append(value)
            
    return sum(non)

In [98]:
#다른사람 답
def repeats(n):
    for i in n:
        if n.count(i)> 1:
            n.remove(i)
            n.remove(i)
    return sum(n)

In [99]:
print(repeats([4, 5, 7, 5, 4, 8]))

15

## 문제

>과수원에 농부 한명이 썩은 과일이 몇개 들어있는 과일 봉지를 가지고 있습니다. (이 과일 봉지는리스트를 의미합니다) 농부는 썩은 과일 조각들을 모두 신선한 것으로 교체하고 싶어합니다. (rotten과일을 신선한 과일로 바꿔야 합니다)

>예를 들어,
- ["apple","rottenBanana","apple"] 이라는 리스트가 주어진 경우, 대체된 리스트는["apple","banana","apple"]이어야 한다. 당신은 썩은 과일들이 신선한 과일로 대체되어 리스트로 만드는 함수를 작성하는 것입니다.


> 유의
- 만약 리스트가 null/nil/None이거나 비어 있는 경우 빈 리스트를 반환합니다.
- 반환된 리스트는 소문자여야 합니다,

In [84]:
def remove_rotten(fruits):
    
    for i in fruits:
        if 'rotten' in fruits[i]:
            fruits[i].replace('rotten', '')
            fruits.lower()
        return fruits

In [100]:
# 다른사람 답
def remove_rotten(l):
    result = []
    for element in l:
        if 'rotten' in element:
            result += [element.replace('rotten','')]
        else:
            result.append(element)
    return result
print(remove_rotten(["apple","rottenBanana","apple"] ))
print(remove_rotten(["rottenapple","rottenBanana","apple", 'rottenGrape']))

AttributeError: 'list' object has no attribute 'lower'

In [102]:
# comprehension
def remove_rotten(args):
    return [i.replace('rotten','').lower() 
                    if 'rotten' in i else i.lower() for i in args if i]

In [103]:
# 여기에 코드를 작성하세요

print(remove_rotten(["apple","rottenBanana","apple"] ))
print(remove_rotten(["rottenapple","rottenBanana","apple", 'rottenGrape']))

['apple', 'banana', 'apple']
['apple', 'banana', 'apple', 'grape']

## 문제

>마을의 신호등을 제어하는 코드를 작성하려고 합니다. 녹색 -> 노란색 -> 빨간색 
-> 녹색으로 변환하는 함수가 필요합니다. 

> 현재의 불빛 상태를 나타내는 인수하고 함수를 실행 시켰을 때 변경 되어야 하는 빛의 색을 
나타내는 함수를 완성하세요.

>예시:update_light('green') should return 'yellow'.

In [82]:
def update_light(colors):
        if colors == ('green'):
            colors.replace('green', 'yellow')
        if colors == 'yellow':
            colors.replace('yellow', 'red')
        if colors == ('red'):
            colors.replace('red', 'green')
        return colors

In [106]:
# 다른사람 답 1
def update_light(color):
    colors = ['red', 'yellow', 'green']
    return colors[colors.index(color)-1]
# index 값으로 해서  그 값보다 하나 이전꺼로 출력하게
print(update_light('red'))

In [108]:
# 다른사람 답 2

def update_light(color):
        dict_c = {'green':'yellow', 'yellow':'red', 'red':'green' }
#         k = list(dict_c.keys())   키를 뽑아 리스트를 만듬
#         v = list(dict_c.values())
#         for i in k:
#             if color == i:
        return dict_c[color]
#                
            

print(update_light('red'))

green

## 문제

>Arara는 셈을 한쌍으로 하는 아마존에 살고 있는 부족입니다. 이들이 행하는 셈의 방식은 다음과 같습니다.

>예를 들어, 1에서 8까지는 셈을 한다면,
- 1 = anane 
- 2 = adak 
- 3 = adak anane 
- 4 = adak adak 
- 5 = adak adak anane 
- 6 = adak adak adak
- 7 = adak adak adak anane
- 8 = adak adak adak adak 

>주어진 숫자 인수를 통해 다음과 같은 함수를 작성하세요.


>예시
- count_arara(3) # -> 'adak anane'
- count_arara(8) # -> 'adak adak adak adak'

In [148]:
# 여기에 코드를 작성하세요
# 내가 다시 짠 코드
def count_arara(n):
    if n % 2: 
        return "adak "*(n//2)  + "anane"
    else: 
        return 'adak '* int((n/2))
        
print(count_arara(7))

adak adak adak anane

In [147]:
#  기본 공부
n = 5
m = 4
a = n%2
print(a)
# n%2 하면 0이니까 False 
# n//2 = 몫을  도출하라
b = n //2
c = m/2

print(b)
print(c)

1
2
2.0

In [ ]:
print(count_arara(7))

In [ ]:
# 다른사람 답
def count_arara(m_num):
    if m_num%2:
        return "adak "*(m_num//2) + "anane"
    else:
        return "adak "*(m_num//2)
print(count_arara(6))

In [91]:
#1이라는 값을 새로 정의하고서 대입하는거같은데.....

SyntaxError: can't assign to literal (<ipython-input-91-dc839d0853d1>, line 1)

## 문제 

> 제 친구 Rora는 그녀가 하고있는 밴드의 이름을 바꾸고 싶어합니다. 
그녀는 "The" + a 대문자 명사 형태의 밴드 이름을 원합니다. 예를 들어,"dolphin" -> "The Dolphin"와 같습니다.

> 혹은 앞뒤가 같은 단어인 명사를 반복하여 결합하여 첫번째 문자를 대문자로 시작하는 밴드 이름을 
만들고 싶어합니다. (이때는 앞쪽에 'The'가 없음) 예를 들어, "alaska" -> "Alaskaalaska"과 같습니다.

>명사를 문자열로 하는 함수를 완성하고 선호하는 밴드 이름을 문자열로 표시하세요.

In [125]:
#첫번째 답
def band_name_generator(band):
    a= ('The ' + f'{band}').title()
    b = (f'{band}{band}').title()
#
a = []
if band[0] == band[-1]:
    b = (f'{band}{band}').title()
    return a, b

In [124]:
 # 다른답   
    band = name.capitalize() + name if name[0] == name[-1] else "The " + name.capitalize()

NameError: name 'name' is not defined

In [123]:
# 여기에 코드를 작성하세요

    
print(band_name_generator('dolphinyap'))
print(band_name_generator('aka'))

('The Dolphinyap', 'Dolphinyapdolphinyap')
('The Aka', 'Akaaka')

## 문제

>몇개의 숫자가 주어지면, 사용되지 않은 숫자를 프린트하세요.

>예시
- unused_digits(12, 34, 56, 78) # "09"
- unused_digits(2015, 8, 26) # "3479"

>유의
- 결과값은 정렬되어야 합니다.

In [ ]:
# 여기에 코드를 작성하세요
def unused_digits(lizt):
    unique = set(range(0,10))
    empty_room =

In [ ]:
def unused_digits(*args):
    digit = set([0,1,2,3,4,5,6,7,8,9])
    a = set()
    for i in args:
        a.update( set(map(int,list(str(i)))) )
         
    return ''.join(map(str,list(digit - a)))

In [ ]:
return ''.join(sorted(map(str, (set('0123456789') - set(''.join(map(str, args)))))))

In [ ]:
print(unused_digits(12, 34, 56, 78))
print(unused_digits(12, 89, 75))

## 문제

>스트링과 함께 섞여있는 문자열들 속에서 정수만 뽑아내 합을 반환하는 함수를 작성하세요.

> 예시
- "The30quick20brown10f0x1203jumps914ov3r1349the102l4zy dog" 
- -> 3635

In [1]:
# 여기에 코드를 작성하세요
def sum_of_integers_in_string(string):
    string.split()
    num_room = []
    for i in string:
        if i == int():
            num_room += i 
    return (num_room)
            

print(sum_of_integers_in_string("The30quick20brown10f0x1203jumps914ov3r1349the102l4zy dog"))

[]

In [5]:
# answer
def sum_of_integers_in_string(foo):
    for x in foo:
        # 숫자가 아닌 것을 공백으로 바꾸기
        if not x.isdigit(): #아니면 true
            foo= foo.replace(x, ' ') # old - new로 바꾸기 문자들을 공백으로 바꾼다음 -> 거기서 남은 숫자들을 split으로 쪼갠다음에  그럼 30   1023 이렇게 쭉 되어있으니까 => 이걸 int로 바꾸고, 각각을 더해주기
    return  sum(map(int,foo. split())) # type 이 list로 되게 합으로 바꾸려면 - int로 바꿔서 - sum

print(sum_of_integers_in_string("The30quick20brown10f0x1203jumps914ov3r1349the102l4zy dog"))

3635